/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* End reset */

@font-face {
  font-family: "Lato Light Italic";
  /* font-style: italic; */
  src: url("./Lato-LightItalic.ttf");
}


@font-face {
  font-family: "Fredoka One";
  src: url("./FredokaOne-Regular.ttf");
}

:root {
  --fc-black: #293241;
  --accent-clr: #EE6C4D;
  --brand-clr: #98C1D9;
  --brand-clr-light: #E0FBFC;
  --brand-clr-dark: #3D5A80;
}

body {
  color: var(--fc-black);
}

.flex {
  display: flex;
}

.top-bar {
  font-family: "Lato Light Italic";
  padding: .5rem 2em;
  background-color: var(--fc-black);
  color: #FFF;
  justify-content: space-between;
}

main {
  flex-direction: column;
  gap: 1.5em;
  margin: auto;
  padding-bottom: 2rem;
  max-width: 70%;
  align-items: center;
  /* border: 2px solid var(--brand-clr-dark); */
}

.nav-container {
  width: 100%;
}

.nav {
  /* margin-top: .5rem; */
  justify-content: center;
  background-color: var(--brand-clr-light);
}

.nav li button {
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Fredoka One";
  color: var(--fc-black);
  background-color: var(--brand-clr-light);
  padding: 1rem;
  border: none;
}

.nav li button:hover,
.nav li button.active {
  /* background-color: lightsalmon; */
  background-color: var(--accent-clr);
  transform: scale(1.1);
  /* border-radius: .25rem; */
}

#content {
  width: 100%;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-family: "Fredoka One";
  max-width: 60%;
  line-height: 1.2;
}

#sub-heading {
  font-family: "Fredoka One";
  font-size: 1.2rem;
  max-width: 60%;
}

.strike {
  text-decoration: line-through;
  /* color: #999; */
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 250px; */
  border: 1rem solid var(--fc-black);
}

.testimonial {
  font-size: 2rem;
  font-family: "Fredoka One";
}

.credit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  align-self: end;
}

.credit::before {
  content: "— ";
}

.menu-item {
  margin: 0;
  font-family: "Fredoka One";
  font-size: 1.75rem;
}

.menu-image {
  max-width: 100%;
  height: auto;
}

.menu-description {

}